.sponsorimages:after, .sponsorimages:before {
    display:table;
    content:" ";
}

.sponsorimages:after {
    clear:both;
}

.sponsorimages {
    margin: 0 auto;
    display: flex;
    position: inherit;
    max-width: 800px;
}

.sponsorimages img {
    width: 185px ;
    height: auto ;
    position: relative; 
    top: 0 ;
    bottom: 0 ;
    margin: auto ;
}

.row .top_img{
    width: auto;
    position: static;
    max-width: 920px;
    margin-bottom: 19px;
}

.flex{
    display: flex;
    margin: 0 auto;
    position: relative;
}

.landrover{
    width: 254px;
}

.politie{
    width: 254px;
}

body{
	background: url("../kcfinder/upload/images/bg.jpg") no-repeat;
	background-attachment: fixed;
    background-size: cover;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 5;
	font-family: "diavlo", "Myriad Pro", Arial;
	color: #5A504B;
}

.row{
    padding-top: 80px;
    padding-bottom:80px;
    left: -80px;
    right: 0;
    margin: 0 auto;

}

.navbar-default{
    background: none;
    border: none;
}

.navbar-brand{
  padding: 0px;
}

.navbar-brand>img {
      height: 196%;
      width: auto;
      padding-left: 112px;
}

.navbar-default .navbar-collapse{
    border: none;
    box-shadow: none;
}

.navbar-default .navbar-nav>li>a{
    color: white;
    border: none;
}

/*active button*/
 .navbar-default .navbar-nav>li>.active_nieuws, .navbar-default .navbar-nav>li>.active_verhaal, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-toggle{
    background: #4c61a6;
    color: #F8B051;
    border: none;
}

/*active dropdown*/
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .dropdown-menu>li>a, .navbar-nav>li>.dropdown-menu{
    background: #4c61a6;
    color: #F8B051;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: #4c61a6;
    color: #F8B051;
}

.panel-default>.panel-heading{
    background-color: rgba(70, 115, 146, 0.5);
    border: none;
    color: rgb(255, 255, 255);
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #F8B051;
}

.fa-btn {
    margin-right: 6px;
}

.img47{
    height: 47px;
}

.img89{
    height: 89px;
}

.img57{
    height: 57px;
}

.img36{
    height: 36px;
}

.img84{
    height: 84px;
}

.img30{
    height: 30px;
}

.img52{
    height: 52px;
}

.img113{
    height: 113px;
}

.blauw{
    color: #0000ff;
}

.under{
    padding-top: 120px;
}

.sub{
    font-size: 136%;
    color: #005dab;
    font-weight: normal;
}

.panel-default{
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}

.panel-body{
    background-color: rgba(255, 255, 255, 0.5);
}


.row .foto img{
    width: auto;
    position: static;
    max-width: 300px;
}

.foto{
	margin: 10px;
    border: 1px solid rgb(221, 221, 221);
    text-align: center;
    padding-top: 4px;
    background-color: rgb(243, 243, 243);
}

.bestuur{
    margin: 0px;
    padding: 0px 4px 5px;
    line-height: 17px;
    font-size: 11px;
    font-style: italic;
}

.italic{
	font-style: italic;
}

.link{
	color: #bc360a;
}

.link:hover{
	color: #ea9629;
}

.copyright{
	text-decoration: underline;
}

.doel{
	text-decoration: underline;
	color: #000080;
}

.form{
	float: left;
}

.foto{
    width: 310px;
    float: right;
    margin-right: 20px;
    margin-left: -1px;
    margin-top: 4px;
}

.foto>img{
    height:225px;
    width:300px;
}

.gallery>div>img{
    height: 100%;
    padding-top: 100px;
}

#message{
   resize: none;
}

.footer{
    margin: 0px auto;
    padding: 16px 0px 20px 26px;
    width: 970px;
    height: 106px;
    font-size: 12px;
}

footer{
    background: rgb(218, 214, 212);
    height:142px;
    width: 100%;
}

.facebook{
    list-style-image: url(../img/facebook.png);
}

.twitter{
    list-style-image: url(../img/twitter.png);
}

.menu{
    position: absolute;
    right: 234px;
}

.menu2{
    list-style-type:none; 
    position: absolute;
    left: -25px;
}

.footer_msg{
	font-size: 12px;
}

.borderless{
    border: 0px;
}

.footerlink{
    color: #5A504B;
}

.footerlink:hover{
    color: #5A504B;
}

/*google maps style*/
#map-canvas{
	height:225px;
	width:300px;
}

/*ckeditor*/

td[role="presentation"]{
    width: 722px;
}

/*responsive mobile*/
@media only screen and (max-width: 991px) {

    .row img {
        display: table;
        margin-top: 40px;
        width: auto;
        height: auto;
        position: relative;
        max-width: 260px;
    }

    .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-toggle {
        background: #4c61a6;
        color: #F8B051;
        border: none;
    }

    footer{
        height: 253px;
    }

    .footer{
        display: inline-block;
        width: 345px;
    }

    .col-md-4, .social, .menu2, .footer_titel, .footer_text{
        height: 100%;
    }
    
    .menu1 {
        padding-top: 2%;
    }

    .under{
        padding-top: 2%;
    }
    .foto{
        width: 200px;
        float: left;
    }
    
    .foto>img{
        width: 190px;
        height: 138px;
        margin-top: 3px;
        margin-left: 8px;
    }

    .inline{
        display: inline-block;
    }

    #map-canvas{
        width: 283px;
        height: 274px;
    }

    .flex{
        display: table;
        left: 0;
        margin: 0 auto;
    }

    .row .top_img{
        margin-bottom: -66px;
        max-width: 596px;
    }

    .row {
        padding: 0;
    }

    .panel-default{
        margin-top: 80px;
    }

    .symptom{
        margin-top: -10px;
    }
	
	.navbar-brand>img {
		height: 100% !important;
    }

}

@media only screen and (max-width: 595px) {
    .navbar-brand>img {
        padding-right: 80px;
        padding-left: inherit;
		height: 100% !important;
    }

    .row .top_img{
        margin-bottom: -66px;
        max-width: 281px;
    }

}

@media only screen and (max-width: 595px) {
    .navbar-brand>img {
        padding-left: inherit;
		height: 100% !important;
    }

}

@media only screen and (max-width: 1200px) {
    .navbar-brand>img {
        height: 153%;
    }
}

.form_register_swek > .form_register{
    width: 709px;
}

.form_register_swek {
    position: absolute;
    left: 36px;
    right: 0;
    top: 55px;
    bottom: 0;
    margin: 0 auto;
}


.form_swek{
    height: 309px;
}
